doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    #page
        h1 LCD Control

        //- #loading Loading...

        #lcdControls
            div
                label(for="topRow") Top Row:
                input#topRow.lcd(value="Foo",maxlength="16") 
            div
                label(for="bottomRow") Bottom Row:
                input#bottomRow.lcd(value="Bar",maxlength="16") 
            div
                label(for="backLight") Backlight on
                input#backLight(type="checkbox", checked="checked", value="backlight")
            div
                button#bar change the display

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/client.js')


