doctype 5
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    //- script(type='text/javascript', src='/javascripts/jquery.min.js')
    //- script(type='text/javascript', src='/javascripts/client.js')

  body
    block content