/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
    font-family:"5x8 LCD HD44780U A02 Regular";
    src:url("5x8_lcd_hd44780u_a02.eot?") format("eot"),
        url("5x8_lcd_hd44780u_a02.woff") format("woff"),
        url("5x8_lcd_hd44780u_a02.ttf") format("truetype"),
        url("5x8_lcd_hd44780u_a02.svg#5x8-LCD-HD44780U-A02") format("svg");
    font-weight:normal;
    font-style:normal;
}

body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
    visibility: hidden;
}

#lcdControls button, 
#lcdControls label, 
#lcdControls input {
    margin: 0 0 1rem 0; 
    padding: 0.4rem;
}

#lcdControls label {
    display: inline-block;
    padding-left: 0;
    width: 7rem;
}
#lcdControls button {
    margin-left: 7.2rem;
}

#lcdControls input.lcd {
    background: #59F402;
    border: none;
    color: #000;
    font-family: "5x8 LCD HD44780U A02 Regular", monospace;
    font-size: 16px;
    width: 192px;
}
